# Python Data Structures

This class is a recap from three classical data structures that you will find everywhere during the semester
- `list` One dimensional, variable length, mutable (i.e.
contents can be modified) sequence of Python objects
of ANY type. 
- `tuple` one dimensional, fixed-length, immutable sequence
of Python objects of ANY type.
- `dictionnaries`
   - Keys have to be immutable like scalar types (int,
float, string) or tuples (all the objects in the tuple
need to be immutable too)
- `sets` an unordered collection of **UNIQUE**
elements

## 1. Lists and tuples

### Sequences
Lists, tuples, and strings are all Python sequences, and share many of the same methods.

### Create a list

#### Creating an empty list

In [0]:
empty = []
empty

[]

#### Using square brackets with initial values

In [0]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers

[1, 2, 3, 4, 5, 6, 7]

#### Mixing data types
Lists can contain multple data types

In [0]:
mixed = ['a', 1, 2.0, [13], {}]
mixed

['a', 1, 2.0, [13], {}]

### **Exercise**
- Create a list named ***first_list*** containing 5 integers and a *string* at the end

### Access item within a list
Items in lists can be accessed using indices in a similar fashion to strings.

#### Access first item

In [0]:
numbers

[1, 2, 3, 4, 5, 6, 7]

In [0]:
numbers[0]

1

#### Access last item

In [0]:
numbers[-1]

7

#### Access any item

In [0]:
numbers[4]

5

### **Exercise**
Create the following list:
- `random_list = [1,9,'hey','Data Science', 'fun', [1,2]]`
- Access the last element from the list
   - **Bonus**: Access the last element from the last element of the list
- Access the second last element from the list

### Access multiple items within a list

#### From an index to the end of the list

In [0]:
numbers[1:]

[2, 3, 4, 5, 6, 7]

#### Until specific index of list

In [0]:
numbers[:2]

[1, 2]

#### Between indexes

In [0]:
numbers[4:6]

[5, 6]

### **Exercise**
From the random_list defined in the last exercise
```random_list = [1,9,'hey','Data Science', 'fun', [1,2]]```

- Extract items 3 to 5

### Adding to a list

#### Append to the end of a list

In [0]:
letters = ['a']
letters.append('c')
letters

['a', 'c']

#### Insert at beginning of list

In [0]:
letters.insert(0, 'b')
letters

['b', 'a', 'c']

#### Insert at arbitrary position

In [0]:
letters.insert(2, 'c')
letters

['b', 'a', 'c', 'c']

#### Extending with another list

In [0]:
more_letters = ['e', 'f', 'g']
letters.extend(more_letters)
letters

['b', 'a', 'c', 'c', 'e', 'f', 'g']

### **Exercise**

From the random_list defined in the last exercise
```random_list = [1,9,'hey','Data Science', 'fun', [1,2]]```

- Add `'I love data'` at the end
- Add `'I am a genious'` at the 5th position

### Change item at some position

In [0]:
letters[3] = 'd'
letters

['b', 'a', 'c', 'd', 'e', 'f', 'g']

### Removing items from a list

#### Pop from the end

In [0]:
letters = ['a', 'b', 'c', 'd', 'e', 'f']
letters.pop()
letters

['a', 'b', 'c', 'd', 'e']

#### Pop by index

In [0]:
letters.pop(2)
letters

['a', 'b', 'd', 'e']

#### Remove specific item

In [0]:
letters.remove('d')
letters

['a', 'b', 'e']

### **Exercise**

- Remove `'I am a genious'` from the `random_list`
- Remove the 4th item

### Create tuple

#### Create tuple using brackets

In [0]:
tup = (1, 2, 3)
tup

(1, 2, 3)

#### Create tuple with commas

In [0]:
tup = 1, 2, 3
tup

(1, 2, 3)

#### Create empty tuple

In [0]:
tup = ()
tup

()

#### Create tuple with single item

In [0]:
tup = 1,
tup

(1,)

### Behaviours shared by lists and tuples
The following sequence behaviors are shared by lists and tuples

### Check item in sequence

In [0]:
3 in (1, 2, 3, 4, 5)

True

### Check item not in sequence

In [0]:
'a' not in [1, 2, 3, 4, 5]

True

### Slicing

#### Setting start, slice to the end

In [0]:
letters = 'a', 'b', 'c', 'd', 'e', 'f'
letters[3:4]

('d',)

#### Set end, slice from beginning

In [0]:
letters[:4]

('a', 'b', 'c', 'd')

#### Index from end of sequence

In [0]:
letters[-4:]

('c', 'd', 'e', 'f')

#### Setting step

In [0]:
letters[1::-2]

### **Exercise**

- `random_tuple = (1,9,'hey','Data Science', 'fun', [1,2])`
- Extract items 3 to 5
- Try to add 4 at the end of the `tuple`

## 2. Dictionaries 
Dictionaries are mappings of key value pairs.

### Create an empty dict using constructor

In [0]:
dictionary = dict()
dictionary

{}

### Create a dictionary based on key/value pairs

In [0]:
key_values = [['key-1','value-1'], ['key-2', 'value-2']]
dictionary = dict(key_values)
dictionary

{'key-1': 'value-1', 'key-2': 'value-2'}

### Create an empty dict using curley braces

In [0]:
dictionary = {}
dictionary

{}

### Use curley braces to create a dictionary with initial key/values

In [0]:
dictionary = {'key-1': 'value-1',
              'key-2': 'value-2'}

dictionary

{'key-1': 'value-1', 'key-2': 'value-2'}

### **Exercise**

- Create a dictionnary `country_main_city` with keys


 `['France', 'Germany', 'Syria', 'Turkey', 'Nigeria', 'Argentina']`

 And values 

` ['Paris', 'Berlin', 'Damascus', 'Ankara', 'Abuja', 'Buenos Aires']`

### Access value using key

In [0]:
dictionary['key-1']

'value-1'

### **Exercise**

Using the dictionnary `country_main_city` extract the capital of Nigeria

### Add a key/value pair to an existing dictionary

In [0]:
dictionary['key-3'] = 'value-3'

dictionary

{'key-1': 'value-1', 'key-2': 'value-2', 'key-3': 'value-3'}

### Update value for existing key

In [0]:
dictionary['key-2'] = 'new-value-2'
dictionary['key-2']

'new-value-2'

### **Exercise**

Add the capital of Italy to the dictionnary `country_main_city`

### Get keys

In [0]:
list(dictionary.keys())

['key-1', 'key-2', 'key-3']

### Get values

In [0]:
dictionary.values()

dict_values(['value-1', 'new-value-2', 'value-3'])

### **Exercise**

Extract every capital city from `country_main_city`

### Check if dictionary has key
The 'in' syntax we used with sequences checks the dicts keys for membership.

In [0]:
'key-5' in dictionary

False

### Remove item

In [0]:
del(dictionary['key-1'])
dictionary

{'key-2': 'new-value-2', 'key-3': 'value-3'}

### Keys must be immutable

#### List as key
Lists are mutable and not hashable

In [0]:
items = ['item-1', 'item-2', 'item-3']

map = {}

map[items] = "some-value"

TypeError: ignored

#### Tuple as a key
Tuples are immutable and hence hashable

In [0]:
items = 'item-1', 'item-2', 'item-3'
map = {}
map[items] = "some-value"

map

{('item-1', 'item-2', 'item-3'): 'some-value'}

## 3. Sets

- Sets are mutable but items from the sets cannot be indexed 
- Sets are ordered and made of unique items

### Create set from tuple or list

In [0]:
letters = 'a', 'a', 'a', 'b', 'c'
unique_letters = set(letters)
unique_letters

{'a', 'b', 'c'}

### Create set from a string

In [0]:
unique_chars = set('mississippi')
unique_chars

{'i', 'm', 'p', 's'}

### Create set using curley braces

In [0]:
unique_num = {1, 1, 2, 3, 4, 5, 5}
unique_num

### **Exercise**

- Try to create a set called `random_set` with values `1,9,'hey','Data Science', 'fun', [1,2], 1, 'hey' ` What happens and why?
- Now create a set with values `1,9,'hey','Data Science', 'fun', (1,2), 1, 'hey' `

### Adding to a set

In [0]:
unique_num.add(6)
unique_num

{1, 2, 3, 4, 5, 6}

### Popping from a set
Pop method removes and returns a random element of the set

In [0]:
unique_num.pop()

2

### Indexing
Sets have no order, and hence cannot be accessed via indexing

In [0]:
unique_num[4]

TypeError: ignored

### Checking membership

In [0]:
3 in unique_num

True

### Set operations

In [0]:
s1 = { 1 ,2 ,3 ,4, 5, 6, 7}
s2 = { 0, 2, 4, 6, 8 }

#### Items in first set, but not in the second

In [0]:
s1 - s2

{1, 3, 5, 7}

#### Items in either or both sets

In [0]:
s1 | s2

{0, 1, 2, 3, 4, 5, 6, 7, 8}

#### Items in both sets

In [0]:
s1 & s2

{2, 4, 6}

#### Items in either set, but not both

In [0]:
s1 ^ s2

{0, 1, 3, 5, 7, 8}

### **Exercise**

- Create a set with all the first names in the class
- Create a dictionnary with all the names of student and teachers in the class and city of birth
- Write a Python program to remove duplicates from a list.
- Write a Python program to get the difference between the two lists.
- Write a Python program to append a list to the second list.

# Notes:
[Lists](https://docs.python.org/3/tutorial/datastructures.html)

[Tuples and sequences](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

[Dictionaries](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)

[Source of part of the content](https://github.com/paiml/python_for_datascience)